body {
    background-image: linear-gradient(135deg, transparent 0%, transparent 9%,rgba(255, 255, 255, 0) 9%, rgba(234, 0, 255, 0) 71%,transparent 71%, transparent 78%,rgba(140, 78, 20,0.5) 78%, rgb(230, 230, 240) 100%),linear-gradient(45deg, rgb(183, 131, 27) 0%, rgb(183, 131, 27) 19%,rgb(227, 183, 33) 19%, rgb(227, 183, 33) 56%,transparent 56%, transparent 72%,rgb(140, 78, 20) 72%, rgb(140, 78, 20) 100%),linear-gradient(90deg, rgb(253, 248, 253),rgba(253, 253, 253, 0.349));    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #0c0000;
    text-align: center;
    margin-top: 30px;
    width: 80%; /* Set the desired width */
    margin-left: auto;
    margin-right: auto;

}

h2 {
    color: #080000bb;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a6ff00;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#translationContainer {
    margin-top: 20px;
}

#englishDefinition {
    font-style: italic;
}